
		<div id="widget_foot">
			<div class="row footer-nav">
			<div class="container">
				<ul class="footer">
					<li class="last">
						<strong>关注我们<a href="#" class="wechat"></a><a href="http://weibo.com/chinaaet" class="weibo" target="_blank" rel="nofollow"></a></strong>
						<div class="qrcode"><img src="http://st.chinaaet.com/main/images/ico_qrcode.jpg" height="120" width="120" alt="电子技术应用微信"></div>
					</li>
					<li class="first">
						<strong>网站相关</strong>
						<ul>
							<li class="first"><a href="http://www.chinaaet.com/about/" rel="nofollow">关于我们</a></li>
							<li><a href="http://www.chinaaet.com/about/contact/" rel="nofollow">联系我们</a></li>
							<li class="last"><a href="http://www.chinaaet.com/paper/notice/" rel="nofollow">投稿须知</a> </li>
						</ul>
					</li>
					<li>
						<strong>广告及服务</strong>
						<ul>
							<li class="first"><a href="http://www.chinaaet.com/about/license/" rel="nofollow">内容许可</a> </li>
							<li><a href="http://www.chinaaet.com/about/adservices/" rel="nofollow">广告服务</a></li>
							<li class="last"><a href="http://www.chinaaet.com/article/162895/" rel="nofollow">杂志订阅</a></li>
						</ul>
					</li>
					<li>
						<strong>会员与积分</strong>
						<ul>
							<li class="first"><a href="http://www.chinaaet.com/about/userlevel/" rel="nofollow">会员等级</a> </li>
							<li><a href="http://www.chinaaet.com/about/userPoints/" rel="nofollow">会员积分</a></li>
							<li class="last"><a href="http://www.chinaaet.com/about/vipuser/" rel="nofollow">VIP会员</a></li>
						</ul>
					</li>
				</ul>
			</div>
		    <p>Copyright © 2000-2014 电子技术应用 版权所有 京ICP备10017138号</p>
		</div>
	
		</div>
