<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/page/courseInformation/scss/courseInformation.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/widget/header/css/header.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/widget/footer/css/footer.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/static/lib/jsRender/css/jsrender.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/static/lib/oldueditor/themes/default/css/ueditor.min.css" />
		<script src="/themes/chinaaet/static/lib/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<header id="header">

		</header>
		<div class="content">
			<div class="top">
				<div class="navs">
				</div>
				<div class="headers">
					<img src="/themes/chinaaet/page/courseInformation/img/one.png" />
					<div class="intrdouce">
						<h1>陈列结构创意</h1>
						<h3><pre>开讲时间：2016年5月03日      10:00</pre></h3>
						<h4>主讲教师：黄娇娇</h4>
						<span>奖品:50元手机充值卡5张、20元代金券一张</span>
						<div class="button">
							<button type="button" id="mySign">我要报名</button>
							<button type="button" id="iAsk">我要提问</button>
							<button type="button" id="certificate" >申请证书</button>
						</div>
					<img src="/themes/chinaaet/page/courseInformation/img/sigin.png" class="sigin"/>
					</div>
				</div>
			</div>
			<div class="midddle">
				<div class="couItd">
					<h1>课程简介</h1>
					<div ><pre>
   	前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统括JavaScript、ActionScript、CSS、xHTML等“传统”技术与前端技Adobe对完成的前端
技术包括JavaScript、io前端技术包括JavaScript、Actio前端技术包括JavaScri.Actio前端技术包括”技术与Adobe对完成的页面进行维ML等“传统括JavaScript
、ActionScript、CSS、xHTML等“传统”技术与前端技ACSS、xHTML等“传统”技术与前端dobvaScript、Actio前端技术包括JavaScri.Actio前vaScript、Actio前端技术包括JavaScri.Actio前
vaScript、Actio前端技术包括JavaScri.Actio前vaScript、Actio前端技术包括JavaScri.Actio前ctio前vaScript、Actio前端技术包括Ja
ctio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Ja
ctio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Ja
ctio前vaScript、Actio前端技术包括Jactio前vaScript、Actio前端技术包括Ja
					</pre> </div>
					<button type="button" class="unflod">>>展开</button>
				</div>
				<div class="tecItd">
					<h1>授课讲师</h1>
					<div>
						<p >
   	前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统括JavaScript、ActionScript、CSS、xHTML等“传统”技术与前端技Adobe对完成的前端
技术包括JavaScript、io前端技术包括JavaScript、Actio前端技术包括JavaScri.Actio前端技术包括”技术与Adobe对完成的页面进行维ML等“传统括JavaScript
					</p>
					</div>
					<button type="button" class="unflod">>>展开</button>
				</div>
			</div>
			<div class="bottom">
				<ul class="table">
					<li class="check" id="table_study">学习内容</li>
					<li id="table_ask">我要提问</li>
					<li id="table_recorde">获奖记录</li>
				</ul>
				<ul class="main" id="main">
					<li class="studyText" id="studyText">
						<p>本课程共包含<span>2</span> 门课件，您已完成 <span>0</span>门课件要求学习时长累计不少于<span>70</span>分钟</p>
						<ul class="courseList">
							<h2>课件列表：</h2>
							<li>
								<a href="javascript:void(0);">1、80、90后员工的的素质培养01</a>
								<span> [进行中]</span>
								<button>继续学习</button>
							</li>
							<li>
								<a href="javascript:void(0);">2、80、90后员工的的素质培养02</a>
								<span> [进行中]</span>
								<button>继续学习</button>
							</li>
							<li>
								<a href="javascript:void(0);">3、80、90后员工的的素质培养03</a>
								<span> [进行中]</span>
								<button>继续学习</button>
							</li>
						</ul>
						<ul class="dataupload">
							<h2>资料下载：</h2>
							<li>
								<a href="javascript:void(0);">1、陈列结构01</a>
								<button>下载</button>
							</li>
							<li>
								<a href="javascript:void(0);">1、陈列结构01</a>
								<button>下载</button>
							</li>
							<li>
								<a href="javascript:void(0);">1、陈列结构01</a>
								<button>下载</button>
							</li>
						</ul>
						<ul class="textsList">
							<h2>配套教材：</h2>
							<li>
								<a href="javascript:void(0);">1.80.90后员工素养的提升</a>
							</li>
							<li>
								<a href="javascript:void(0);">2.优秀员工的10大心态</a>
							</li>
						</ul>
					</li>
					<li class="askQuestion" id="askQuestion">
						<div id="askQuestionLists">
						</div>
					</li>
					<li class="recorde" id="recorde">
						<ul>
							<li>
								<a href="javascript:void(0);">一等奖</a><a href="javascript:void(0);">万朱浩</a><a href="javascript:void(0);">10000现金</a>
							</li>
							<li>
								<a href="javascript:void(0);">二等奖</a><a href="javascript:void(0);">黄姣姣</a><a href="javascript:void(0);">10000现金</a>
							</li>
							<li>
								<a href="javascript:void(0);">三等奖</a><a href="javascript:void(0);">万朱浩</a><a href="javascript:void(0);">10000现金</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!--所有弹出层-->
		<div class="layer">
			<div id="layer_Ask">
				<form class="ui-form">
					<div class="">
						<div class=""></div>
						<div class="">
							<textarea name="txtContent" id="txtContent" cols="30" rows="10" "width: 980px; height: 170px"></textarea>
						</div>
						<div class="fn-clear fn-mt10">
							<div class="fn-right">
								<input type="button" value="发表" class="btn btn-primary" id="btnSave" />
							</div>
						</div>
						<div id="uploadResource-queue" "margin-top: 20px">
						</div>
					</div>
				</form>
			</div>
		</div>
		<footer id="footer">

		</footer>
		<script type="text/x-jsrender" id="answerListTpl">
			{{for #data}}
			<div class="list">
				<figure>
					<img src={{:PhotoStr}}/>
					<h1>{{:Realname}}</h1>
				</figure>
				<div class="texts">
					<h1><i class="iconfont">&#xe604;</i>{{:Contents}}</h1>
					<ul>
						{{for CommentAnswer}}
						<li>
							<div>
								<i class="iconfont">&#xe605;</i> {{if #index==0}}
								<p>[最新回答] <img src="img/two.png" /><a href="javascript:void(0);">{{:Realname}}</a>{{:Contents}}</p>
								{{else}}
								<p><img src="img/two.png" /><a href="javascript:void(0);">{{:Realname}}</a>{{:Contents}}</p>
								{{/if}}
							</div>
							<h2 class="time">{{:CommentTimeStr}}</h2>
						</li>
						{{/for}}
					</ul>
				</div>
				<div class="answer">
					<span>{{:CommentAnswerCount}}</span> 回答
				</div>
			</div>
			{{/for}}
		</script>
	</body>
	<script src="/themes/chinaaet/static/lib/layer/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	<script src="/themes/chinaaet/static/lib/jsRender/jsrender.js" type="text/javascript" charset="utf-8"></script>
	<script src="/themes/chinaaet/static/lib/jsRender/extend.js" type="text/javascript" charset="utf-8"></script>
	<script src="/themes/chinaaet/static/lib/oldueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
	<script src="/themes/chinaaet/static/lib/oldueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
	<script src="/themes/chinaaet/static/lib/oldueditor/lang/zh-cn/zh-cn.js" type="text/javascript" charset="utf-8"></script>
	<script src="/themes/chinaaet/page/courseInformation/js/control.js" type="text/javascript" charset="utf-8"></script>
</html>