<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/page/courseInformation/scss/courseInformation.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/static/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/widget/header/css/header.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/widget/footer/css/footer.css" />
	    <script src="/themes/chinaaet/static/lib/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<header id="header">
			
		</header>
		<div class="content">
			<div class="top">
				<div class="navs">
				</div>
				<div class="headers">
					<img src="/themes/chinaaet/page/courseInformation/img/one.png" />
					<div class="intrdouce">
						<h1>陈列结构创意</h1>
						<h2>报名时间：2016年2月22日-2016年7月25日</h2>
						<h3>开讲时间：2016年5月03日      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    10:00-12：00 </h3>
						<h4>学习有效期：120天</h4>
						<p>简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成的页面进行维简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成的页面进行维简介：前端技术包括xHTML等“传统”技术与Adobe对完成的页面进行维简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成的页面进行维...........</p>
						<span>奖品:50元手机充值卡5张、20元代金券一张</span>
						<div class="button">
							<button type="button">我要报名</button>
							<button type="button">我要提问</button>
						</div>
					</div>
					<a href="javascript:void(0);">￥200.00</a>
				</div>
			</div>
			<div class="midddle">
				<img src="/themes/chinaaet/page/courseInformation/img/two.png" />
				<div class="intrdouce">
					<h1>主要讲师</h1>
					<h2>万朱浩</h2>
				</div>
				传统”技术与Adobe对完成的前端技术包括JavaScript、 io前端技术包括JavaScript、Actio前端技术介绍：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成的前端技术包括JavaScript、 io前端技术包括JavaScript、Actio前端技术包括JavaScri.Actio前端技术包括JavaScriActio前 介绍：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成的前端技术包括JavaScript、 io前端技术包括JavaScript、Actio前端技术包括JavaScri.Actio前端技术包括JavaScriActio前
			</div>
			<div class="bottom">
				<ul class="table" >
					<li class="check" id="table_study">学习内容</li>
					<li id="table_ask">我要提问</li>
					<li id="table_recorde">获奖记录</li>
				</ul>
				<ul class="main" id="main">
					<li class="studyText" id="studyText">
						<p>本课程共包含<span>2</span> 门课件，您已完成 <span>0</span>门课件要求学习时长累计不少于<span>70</span>分钟</p>
						<ul class="courseList">
							<h2>课件列表：</h2>
							<li>
								<a href="javascript:void(0);">1、80、90后员工的的素质培养01</a>
								<span> [进行中]</span>
								<button>继续学习</button>
							</li>
							<li>
								<a href="javascript:void(0);">2、80、90后员工的的素质培养02</a>
								<span> [进行中]</span>
								<button>继续学习</button>
							</li>
							<li>
								<a href="javascript:void(0);">3、80、90后员工的的素质培养03</a>
								<span> [进行中]</span>
								<button>继续学习</button>
							</li>
						</ul>
						<ul class="dataupload">
							<h2>资料下载：</h2>
							<li>
								<a href="javascript:void(0);">1、陈列结构01</a>
								<button>下载</button>
							</li>
							<li>
								<a href="javascript:void(0);">1、陈列结构01</a>
								<button>下载</button>
							</li>
							<li>
								<a href="javascript:void(0);">1、陈列结构01</a>
								<button>下载</button>
							</li>
						</ul>
						<ul class="textsList">
							<h2>配套教材：</h2>
							<li>
								<a href="javascript:void(0);">1.80.90后员工素养的提升</a>
							</li>
							<li>
								<a href="javascript:void(0);">2.优秀员工的10大心态</a>
							</li>
						</ul>
					</li>
					<li class="askQuestion" id="askQuestion">
						<ul>
							<li>
								<figure>
									<img src="/themes/chinaaet/page/courseInformation/img/two.png"/>
									<h1>jack_wanzhujh</h1>
								</figure>
								<div class="texts">
									<h1><i class="iconfont">&#xe604;</i>为什么直接显示的是”团购已结束“，而不是倒计时呢？ </h1>
									<div>
										<i class="iconfont">&#xe605;</i>
										<p>[最新回答] <img src="/themes/chinaaet/page/courseInformation/img/two.png"/><a href="javascript:void(0);">yangtezz</a>你这 var lefttime= parseInt((endtime.getDate()-nowtime.getDate())/1000);    getDate获取的是今天多少号换成getTime  毫秒数</p>
									</div>
								    <h2 class="time">时间：4天前</h2>
								</div>
								<div class="answer">
									<span>0</span>
									回答
								</div>
							</li>
							<li>
								<figure>
									<img src="/themes/chinaaet/page/courseInformation/img/two.png"/>
									<h1>jack_wanzhujh</h1>
								</figure>
								<div class="texts">
									<h1><i class="iconfont">&#xe604;</i>为什么直接显示的是”团购已结束“，而不是倒计时呢？ </h1>
									<div>
										<i class="iconfont">&#xe605;</i>
										<p>[最新回答] <img src="/themes/chinaaet/page/courseInformation/img/two.png"/><a href="javascript:void(0);">yangtezz</a>你这 var lefttime= parseInt((endtime.getDate()-nowtime.getDate())/1000);    getDate获取的是今天多少号换成getTime  毫秒数</p>
									</div>
								    <h2 class="time">时间：4天前</h2>
								</div>
								<div class="answer">
									<span>0</span>
									回答
								</div>
							</li>
							<li>
								<figure>
									<img src="/themes/chinaaet/page/courseInformation/img/two.png"/>
									<h1>jack_wanzhujh</h1>
								</figure>
								<div class="texts">
									<h1><i class="iconfont">&#xe604;</i>为什么直接显示的是”团购已结束“，而不是倒计时呢？ </h1>
									<div>
										<i class="iconfont">&#xe605;</i>
										<p>[最新回答] <img src="/themes/chinaaet/page/courseInformation/img/two.png"/><a href="javascript:void(0);">yangtezz</a>你这 var lefttime= parseInt((endtime.getDate()-nowtime.getDate())/1000);    getDate获取的是今天多少号换成getTime  毫秒数</p>
									</div>
								    <h2 class="time">时间：4天前</h2>
								</div>
								<div class="answer">
									<span>0</span>
									回答
								</div>
							</li>
						</ul>
					
					</li>
					<li class="recorde" id="recorde">
						<ul>
							<li>
								<a href="javascript:void(0);">一等奖</a><a href="javascript:void(0);">万朱浩</a><a href="javascript:void(0);">10000现金</a>
							</li>
							<li>
								<a href="javascript:void(0);">二等奖</a><a href="javascript:void(0);">黄姣姣</a><a href="javascript:void(0);">10000现金</a>
							</li>
							<li>
								<a href="javascript:void(0);">三等奖</a><a href="javascript:void(0);">万朱浩</a><a href="javascript:void(0);">10000现金</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<footer id="footer">
			
		</footer>
		
	</body>
    <script type="text/javascript">
    	 $('#header').load('../../widget/header/header.html');
		 $('#footer').load('../../widget/footer/footer.html');
    </script>
    <script src="/themes/chinaaet/page/courseInformation/js/control.js" type="text/javascript" charset="utf-8"></script>
    
</html>