<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/page/training/css/traning.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/widget/header/css/header.css" />
		<link rel="stylesheet" type="text/css" href="/themes/chinaaet/widget/footer/css/footer.css" />
		<script src="/themes/chinaaet/static/lib/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header id="header"></header>
		<div class="tranings">
			<ul class="traningsList">
				<li>
					<figure>
						<img src="/themes/chinaaet/page/training/img/one.png"/>
					</figure>
					<div class="intrdouce">
						<h1>WEB前端开发</h1>
						<p><i class="iconfont">&#xe60d;</i>时间：2016年05月19日&nbsp;&nbsp;&nbsp;10:00-12:00</p>
						<p>简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成AIR、Google Gears,以及概念性较强的交互式设计,艺术性较强的视觉设计等等.</p>
					</div>
					<button>报名</button>
				</li>
				<li>
					<figure>
						<img src="/themes/chinaaet/page/training/img/one.png"/>
					</figure>
					<div class="intrdouce">
						<h1>WEB前端开发</h1>
						<p><i class="iconfont">&#xe60d;</i>时间：2016年05月19日&nbsp;&nbsp;&nbsp;10:00-12:00</p>
						<p>简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成AIR、Google Gears,以及概念性较强的交互式设计,艺术性较强的视觉设计等等.</p>
					</div>
					<button>报名</button>
				</li>
				<li>
					<figure>
						<img src="/themes/chinaaet/page/training/img/one.png"/>
					</figure>
					<div class="intrdouce">
						<h1>WEB前端开发</h1>
						<p><i class="iconfont">&#xe60d;</i>时间：2016年05月19日&nbsp;&nbsp;&nbsp;10:00-12:00</p>
						<p>简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成AIR、Google Gears,以及概念性较强的交互式设计,艺术性较强的视觉设计等等.</p>
					</div>
					<button>报名</button>
				</li>
				<li>
					<figure>
						<img src="/themes/chinaaet/page/training/img/one.png"/>
					</figure>
					<div class="intrdouce">
						<h1>WEB前端开发</h1>
						<p><i class="iconfont">&#xe60d;</i>时间：2016年05月19日&nbsp;&nbsp;&nbsp;10:00-12:00</p>
						<p>简介：前端技术包括JavaScript、ActionScript、CSS、xHTML等“传统”技术与Adobe对完成AIR、Google Gears,以及概念性较强的交互式设计,艺术性较强的视觉设计等等.</p>
					</div>
					<button class="signed">已报名</button>
				</li>
			</ul>
		</div>
		<footer id="footer"></footer>
	</body>
	<script type="text/javascript">
		 $('#header').load('../../widget/header/header.html');
		 $('#footer').load('../../widget/footer/footer.html');
	</script>
</html>
