.tranings {
    width: 1000px;
    margin: 0 auto;
    .traningsList {
        width: 1000px;
        margin: 0 auto;
            width: 1000px;
            li{
                display: block;
                margin-bottom: 15px;
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
                figure{
                    height: 130px;
                    width: 215px;
                    box-sizing: border-box;
                    padding: 5px;
                    float: left;
                    margin-right: 25px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .intrdouce{
                    width: 670px;
                    margin-right: 30px;
                    float: left;
                    h1{
                        color: #E53939;
                        font-size: 15px;
                        height: 45px;
                        line-height: 45px;
                    }
                    p{  
                        color: #646464;
                        font-size: 14px;
                        line-height: 25px;
                        i{
                            color: #E53939;
                            margin-right: 5px;
                        }
                    }
                }
                button{
                   width: 60px;
                   height: 25px; 
                   color: #FFFFFF;
                   font-size: 14px;
                   text-align: center;
                   line-height: 25px;
                   float: right;
                   margin-top: 70px;
                   background-color: #e43a3d;
                }
                .signed{
                    background-color: #8a8a8a;
                }
            }
    }
}
